/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
.byebug_history
/config/master.key
spec/examples.txt
.env.*.local
.env
.env.old
.DS_Store
/node_modules/*
!/node_modules/.keep
/public/docs/graphql/*
!/public/docs/graphql/.keep
.sass-cache/*
/app/tmp/
!/app/tmp/.keep
coverage
dump.rdb
.python-version
.ngrok/ngrok.yml